.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  background-color: white;
  border-radius: 10px;
  font-family: "Poppins", serif;
}

body {
  background-color: #ffcbcb;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: ##132743;
}

select {
  display: block;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  color: #132743;
}

h2 {
  margin: 0 0 10px;
  font-size: 38px;
  color: #132743;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 15px 0;
  color: #132743;
}

.time {
  font-size: 40px;
}

.time small {
  font-size: 10px;
  line-height: 20px;
  vertical-align: middle;
  color: #132743;
}

footer {
  text-align: center;
  font-size: 16px;
  font-family: "Poppins", serif;
}
